<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.enhancement.mapper.ArticleMapper">
    <resultMap id="ArticleDTO" type="com.yi.enhancement.model.dto.ArticleDTO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="first_picture" property="firstPicture"/>
        <result column="stamp" property="stamp"/>
        <result column="comments" property="comments"/>
        <result column="original" property="original"/>
        <result column="status" property="status"/>
        <result column="recommend" property="recommend"/>
        <result column="appreciate" property="appreciate"/>
        <result column="views" property="views"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="category_id" property="categoryId"/>
        <result column="user_id" property="userId"/>
        <result column="comment_counts" property="commentCounts"/>
        <association property="category">
            <result column="category_id" property="id"/>
            <result column="category_name" property="name"/>
        </association>
    </resultMap>
    <resultMap id="singleArticleDTO" type="com.yi.enhancement.model.dto.ArticleDTO">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="first_picture" property="firstPicture"/>
        <result column="stamp" property="stamp"/>
        <result column="comments" property="comments"/>
        <result column="original" property="original"/>
        <result column="status" property="status"/>
        <result column="recommend" property="recommend"/>
        <result column="appreciate" property="appreciate"/>
        <result column="views" property="views"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="category_id" property="categoryId"/>
        <result column="user_id" property="userId"/>
        <result column="comment_counts" property="commentCounts"/>
        <association property="category">
            <result column="category_id" property="id"/>
            <result column="category_name" property="name"/>
        </association>
        <collection property="tagList"
                    column="id"
                    select="com.yi.enhancement.mapper.ArticleTagRelationMapper.listTagByArticleId">
        </collection>
    </resultMap>
    <select id="pageArticleDTO" resultMap="ArticleDTO">
        SELECT
        t1.id,
        t1.title,
        t1.stamp,
        t1.comments,
        t1.original,
        t1.status,
        t1.recommend,
        t1.appreciate,
        t1.views,
        t1.create_time,
        t1.update_time,
        t1.user_id,
        t1.category_id,
        t2.name category_name,
        COUNT(t3.id) comment_counts
        FROM
        article t1
        left join category t2 on t1.category_id = t2.id
        left join comment t3 on t1.id = t3.article_id
        where 1 = 1
        and t1.deleted = 0
        <if test="title != null and title != ''">
            and t1.title like CONCAT('%', #{title},'%')
        </if>
        <if test="status != null">
            and t1.status = #{status}
        </if>
        <if test="categoryId != null">
            and t1.category_id = #{categoryId}
        </if>
        <if test="articleIdList != null">
            and t1.id in
            <foreach collection="articleIdList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        GROUP BY t1.id
        ORDER BY
        t1.update_time DESC
    </select>
    <select id="pageArticleDTOWeb" resultType="com.yi.enhancement.model.dto.ArticleDTO">
        SELECT
        id,
        title,
        create_time,
        update_time
        FROM
        article
        where deleted = 0
        ORDER BY
        update_time DESC
    </select>
    <select id="getArticle" resultMap="singleArticleDTO">
        SELECT
        t1.id,
        t1.title,
        t1.stamp,
        t1.comments,
        t1.original,
        t1.status,
        t1.recommend,
        t1.appreciate,
        t1.views,
        t1.create_time,
        t1.update_time,
        t1.user_id,
        t1.category_id,
        t2.name category_name
        FROM
        article t1
        left join category t2 on t1.category_id = t2.id
        where t1.deleted = 0
        and t1.id = #{articleId}
    </select>

    <select id="getArticleDetail" resultMap="singleArticleDTO">
        SELECT
        t1.id,
        t1.title,
        t1.stamp,
        t1.comments,
        t1.original,
        t1.content,
        t1.status,
        t1.recommend,
        t1.appreciate,
        t1.views,
        t1.create_time,
        t1.update_time,
        t1.user_id,
        t1.category_id,
        t2.name category_name
        FROM
        article t1
        left join category t2 on t1.category_id = t2.id
        where t1.deleted = 0
        and t1.id = #{articleId}
    </select>
    <select id="listArticleVo" resultType="com.yi.enhancement.model.vo.ArticleVo">
        SELECT
        id,
        title,
        create_time
        FROM
        article
        where deleted = 0
        <if test="categoryId != null">
            and category_id = #{categoryId}
        </if>
        <if test="queryCondition != null and queryCondition != ''">
            and title like CONCAT('%',#{queryCondition},'%')
        </if>
        <if test="articleIdList != null">
            and id in
            <foreach collection="articleIdList" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        ORDER BY
        create_time DESC
    </select>
</mapper>
