<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.enhancement.mapper.CategoryMapper">
    <select id="listCategoryDTO" resultType="com.yi.enhancement.model.dto.CategoryDTO">
        select * from category where deleted = 0
    </select>
    <select id="pageCategory" resultType="com.yi.enhancement.model.dto.CategoryDTO">
        SELECT
            t1.id,
            t1.NAME,
            COUNT(t2.category_id) article_counts
        FROM
            category t1
            LEFT JOIN article t2 ON t1.id = t2.category_id
            where t1.deleted = 0
            GROUP BY t1.id
            order by t1.update_time desc
    </select>
</mapper>
