<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.enhancement.mapper.TagMapper">

    <select id="listCategoryDTO" resultType="com.yi.enhancement.model.dto.TagDTO">
        select * from tag where deleted = 0
    </select>
    <select id="pageTag" resultType="com.yi.enhancement.model.dto.TagDTO">
        SELECT
            id,
            NAME
        FROM
            tag
            where deleted = 0
            order by update_time desc
    </select>
</mapper>
