/*Yizone的页面位置*/
.m-yizong-position{
    position: absolute;
    margin-left: 10%;
    margin-top: 15px;
}
/*搜索框的页面位置*/
.m-search-position{
    position: absolute;
    top:10px;
    right: 0;
    margin-right: 6.5%;
}
.test-box img {
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -60px;
    border: 0;
}
.m-b-background{
    background-image: url(../images/gridwoman4.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    position: absolute;
}
/*归档页标签的移动*/
.m-vertical-line{
    margin-left: 20px !important;
    width:0 !important;
    border-left: 1px solid !important;
    border-color: #c9cacc !important;
}
/*眼睛位置的div移动css*/
.m-eye-remove{
    position:relative;!important;
    bottom:3px;!important;
    right: 7px;
}
.m-nickname-move{
    position:relative;!important;
    top:6px;!important;
}
.m-yi-move{
    position:relative;!important;
    bottom:8px;!important;
}
.m-eyenumbers-remove{
    position:relative;!important;
    bottom:2px;!important;
}
.m-div-remove{
    position:relative;!important;
    bottom:20px;!important;
}
/*指定div元素的宽高*/
.m-div-wh{
    height: 420px;
}
/*背景颜色等*/
.m-background-img{
    background-image: url(../images/bg-dark-grain.png) !important;
}
.m-background-left{
    background: #1c1c1c !important;
}
/*女孩背景图的灰色*/
.m-background-grilgrad{
    background: #292929 !important;
}
/*左边内边框的输入框*/
.m-background-leftborder{
    background: #171717 !important;
}
.m-background-bule{
    background: #428BDD !important;
}
.m-background-pink{
    background: #FF66CC !important;
}
.m-color-gray {
    background-color:#252729 !important;
}
/*消除div元素的边框即可让白边消失*/
.m-div-borderdisappear{
    border-style: none !important;
}
/*让div移动*/
.div1 {
    transform: translateY(0.5%) !important;
    -ms-transform: translateY(0.5%) !important;
    -webkit-transform: translateY(0.5%) !important;
}
/*左右上下挤压大小*/
.m-width{
    width:300px !important;
}
.m-height{
    height: 80% !important;
}
/*边框颜色*/
.m-border-color{
    border-color: #428BDD !important;
}
.m-text-color{
    font-size:13px;
    color:red;
}
/*颜色*/
.m-color-black {
    background-color:rgb(27, 28, 29) !important;
}
.m-font-color-white {
    color: white !important;
}
.m-font-color-mainfont {
    color: #c9cacc !important;
}
.m-img-mini{
    width:266px !important;
    height:auto !important;
    border-radius: 3px !important;
}
.m-padded--mini{
    padding: 0.5em !important;
}
.m-padded--lagre{
    padding: 3em !important;
}
/*为什么会失效*/
.m-padded-tb-minimini {
    padding-top: 0.05em !important;
    padding-bottom: 0.05em !important;
}
.m-padded-tb-minimi {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-mini {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-big {
    padding-top: 0.8em !important;
    padding-bottom: 0.8em !important;
}
.m-padded-mini {
    padding: 0.2em !important;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-padded-lr {
    padding-left: 0.1em !important;
    padding-right: 0.1em !important;
}
.m-padded-lr-responsive {
    padding-left: 0.8em !important;
    padding-right: 0.8em !important;
}
/*-------text-------*/
.m-text {
    letter-spacing: 1px !important;
    font-weight: 100 !important;
    line-height: 1.8 !important;
    opacity: 0.6 !important;
}
.m-text-clear {
    letter-spacing: 1px !important;
    font-weight: 100 !important;
    line-height: 1.8 !important;
    opacity: 0.8 !important;
}
.m-text-label {
    letter-spacing: 1px !important;
    font-weight: 100 !important;
    line-height: 1.8 !important;
}
.m-text-time {
    font-weight: 200 !important;
    line-height: 1.8 !important;
}
.m-text-spaced {
    letter-spacing: 1.5px !important;
    line-height: 26px !important;
}
.m-text-spaced-huge {
    letter-spacing: 0.1em !important;
}
.m-text-thin {
    font-weight: 100 !important;
}
.m-text-lined {
    line-height: 1.8 !important;
}
.m-opacity-mini {
    opacity: 0.8 !important;
}
/*------position---*/
.m-right-top {
    position: absolute;
    top:0;
    right: 0;
}
/*------display------*/
.m-inline-block {
    display: inline-block !important;
}
/*-----margin------*/
.m-margin-all-supsmall {
    margin:0.1em !important;
}
.m-margin-all-small {
    margin:0.5em !important;
}
.m-margin-top-supsmall {
    margin-top:0.1em !important;
}
.m-margin-top-small {
    margin-top:0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}
.m-margin-tb-none {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
/*-----container-------*/

.m-container {
    max-width: 72em !important;
    margin: auto !important;
    border-style: none !important;
}
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}
/*升高你的位置*/
.m-top-position{
    position: fixed !important;
    z-index: 20 !important;
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
}
/*------shadow------*/

.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
    position: absolute;
    z-index: 5 !important;
}

.m-shadow-small2 {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
    z-index: 8 !important;
}
.m-shadow-small3 {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
}
.m-shadow-little {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.1) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1) !important;
}

/*------positon-----*/

.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}

.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}
.m-right-top-toc {
    position: fixed !important;
    z-index: 10 !important;
    top: 20% !important;
    right: 10px !important;
}


/*-----color-----*/
.m-black {
    color: #333 !important;
}
.m-teal {
    color: #00B5AD !important;
}
.m-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}
/*搜索框*/
.search-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.search-btn {
    color: #e84118;
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration: none;
}
.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 20px;
    width: 0;
}
.search-box:hover > .search-txt {
    width: 150px;
    padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: white;
}
