#content img {
    display: block;
    margin: 20px auto;
}

.my-face {
    animation: smile 5s infinite ease-in-out;
    display: inline-block;
    margin: 0 5px;
}

a:hover {
    color: #c9cacc;
    text-decoration: none;
}

#main {
    width: 1280px;
    margin: 8px auto 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes smile {
    2%, 24%, 80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
        transform: translate(0, 1.5px) rotate(1.5deg)
    }
    4%, 68%, 98% {
        -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
        transform: translate(0, -1.5px) rotate(-.5deg)
    }
    38%, 6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
        transform: translate(0, 1.5px) rotate(-1.5deg)
    }
    8%, 86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
        transform: translate(0, -1.5px) rotate(-1.5deg)
    }
    10%, 72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
        transform: translate(0, 2.5px) rotate(1.5deg)
    }
    12%, 64%, 78%, 96% {
        -webkit-transform: translate(0, -.5px) rotate(1.5deg);
        transform: translate(0, -.5px) rotate(1.5deg)
    }
    14%, 54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
        transform: translate(0, -1.5px) rotate(1.5deg)
    }
    16% {
        -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
        transform: translate(0, -.5px) rotate(-1.5deg)
    }
    18%, 22% {
        -webkit-transform: translate(0, .5px) rotate(-1.5deg);
        transform: translate(0, .5px) rotate(-1.5deg)
    }
    20%, 36%, 46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
        transform: translate(0, -1.5px) rotate(2.5deg)
    }
    26%, 50% {
        -webkit-transform: translate(0, .5px) rotate(.5deg);
        transform: translate(0, .5px) rotate(.5deg)
    }
    28% {
        -webkit-transform: translate(0, .5px) rotate(1.5deg);
        transform: translate(0, .5px) rotate(1.5deg)
    }
    30%, 40%, 62%, 76%, 88% {
        -webkit-transform: translate(0, -.5px) rotate(2.5deg);
        transform: translate(0, -.5px) rotate(2.5deg)
    }
    32%, 34%, 66% {
        -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
        transform: translate(0, 1.5px) rotate(-.5deg)
    }
    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
        transform: translate(0, 2.5px) rotate(-1.5deg)
    }
    44%, 70% {
        -webkit-transform: translate(0, 1.5px) rotate(.5deg);
        transform: translate(0, 1.5px) rotate(.5deg)
    }
    48%, 74%, 82% {
        -webkit-transform: translate(0, -.5px) rotate(.5deg);
        transform: translate(0, -.5px) rotate(.5deg)
    }
    52%, 56%, 60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
        transform: translate(0, 2.5px) rotate(2.5deg)
    }
    58% {
        -webkit-transform: translate(0, .5px) rotate(2.5deg);
        transform: translate(0, .5px) rotate(2.5deg)
    }
    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
        transform: translate(0, 1.5px) rotate(2.5deg)
    }
    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
        transform: translate(0, 2.5px) rotate(-.5deg)
    }
    92% {
        -webkit-transform: translate(0, .5px) rotate(-.5deg);
        transform: translate(0, .5px) rotate(-.5deg)
    }
    94% {
        -webkit-transform: translate(0, 2.5px) rotate(.5deg);
        transform: translate(0, 2.5px) rotate(.5deg)
    }
    0%, 100% {
        -webkit-transform: translate(0, 0) rotate(0);
        transform: translate(0, 0) rotate(0)
    }
}

@media (max-width: 1099px) {
    .mobile-hidden {
        display: none !important;
    }

    .mobile-show-style {
        width: 100% !important;
    }
}

#my-face {
    -webkit-animation: haha 5s infinite ease-in-out;
    animation: haha 5s infinite ease-in-out;
    display: inline-block;
    margin: 0 5px;
}

#foot {
    text-align: center;
    clear: both;
    position: relative;
    left: 0;
    overflow: hidden;
    padding: 30px 8px 20px;
    letter-spacing: 1px !important;
    line-height: 26px !important;
}

.btn {
    margin-top: 20px !important;
    font-size: 16px !important;
}

.m-comment-border {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border: .2em solid #00bcd4;
    border-radius: .5em;
    box-shadow: 1px 1px .5em black inset;
}

.m-comment-container {
    position: relative;
    width: 100%;
    padding: 30px;
    background: #1C1C1C;
    border: #00ccdd solid 2px;
    text-align: left;
    border-radius: .5em;
}

.m-comment-write {
    position: relative;
    width: 100%;
    padding: 30px;
    background: #1C1C1C;
    border: #00ccdd solid 2px;
    text-align: left;
    border-radius: .5em;
}

.m-comment-container h2 {
    color: #fff;
    margin-bottom: 45px;
}

.m-comment-input-field {
    position: relative;
    width: 400px;
    height: 40px;
}

.m-comment-input-field input[type="text"] {
    position: absolute;
    background: #353b48;
    border: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
}

.m-comment-input-field span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #555;
    width: 100%;
    height: 2px;
}

.m-comment-input-field span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00bcd4;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.m-comment-input-field label {
    position: absolute;
    top: 0;
    left: 0;
    color: #555;
    pointer-events: none;
    display: block;
    transition: 0.5s;
    letter-spacing: 1px;
}

.m-comment-input-field input[type="text"]:focus ~ span:before,
.m-comment-input-field input[type="text"]:valid ~ span:before {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.m-comment-input-field input[type="text"]:focus + label,
.m-comment-input-field input[type="text"]:valid + label {
    transform: translateY(-35px);
    font-size: 14px;
    color: #fff;
    background: #ff006a;
    padding: 5px 2px;
}

.m-comment-textarea-field {
    position: relative;
}

.m-comment-textarea-field textarea {
    position: absolute;
    background: #353b48;
    border: none;
    font-size: 16px;
    color: #fff;
    width: 100%;
}

.m-comment-textarea-field span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #555;
    width: 100%;
    height: 2px;
}

.m-comment-textarea-field span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00bcd4;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.m-comment-textarea-field textarea:focus ~ span:before,
.m-comment-textarea-field textarea:valid ~ span:before {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
}

.m-comment-textarea-field label {
    position: absolute;
    top: 0;
    left: 0;
    color: #555;
    pointer-events: none;
    display: block;
    transition: 0.5s;
    letter-spacing: 1px;
}

.m-comment-textarea-field textarea:focus + label,
.m-comment-textarea-field textarea:valid + label {
    transform: translateY(-35px);
    font-size: 14px;
    color: #fff;
    background: #ff006a;
    padding: 5px 2px;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: auto 0;
}

.m-padded-mini {
    padding: 0.2em !important;
}

.m-right-bottom {
    bottom: 0;
    right: 0;
}

.m-fixed {
    position: fixed;
}

.enhancement-content img {
    max-width: 100%;
    height: auto
}

.technical-support-avatar {
    margin-right: 8px;
    margin-bottom: 8px;
    background: transparent;
    border-radius: 50%;
    width: 40px;
}

.contributors-list {
    display: flex;
    flex-wrap: wrap;
}

.m-shadow {
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 1) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1) !important;
}

.m-block-display-color {
    background: #1c1c1c !important;
}

.m-signature-background-color {
    background: #171717 !important;
}

.m-teal {
    color: #00bcd4;
}

.m-font-pattern {
    color: #c9cacc !important;
    font-weight: 100 !important;
}

.m-comment-nickname {
    color: #ffffff;
    font-weight: normal;
}

.author a:hover {
    color: #ffffff;
}

.my-name a:hover {
    color: #ffffff;
}

.safe-link a:hover {
    color: #ffffff;
}

.m-comment-extra-info {
    color: #dfe4ea;
    font-size: .175em;
    opacity: 0.8;
}

.m-opacity-mini {
    opacity: 0.8 !important;
}

.m-font-spaced {
    letter-spacing: 1px !important;
    line-height: 26px !important;
}

.m-font-style {
    font-family: Menlo, "Meslo LG", monospace;
    text-rendering: geometricPrecision;
}

.m-special-font-style {
    color: #34e7e4;
}

.m-border-none {
    border: none !important;
}

.m-padding-top-bottom-large {
    padding-bottom: 2em !important;
}

.m-article-title {
    letter-spacing: 1px !important;
    font-weight: 100 !important;
    line-height: 1.8 !important;
}

.m-reply:hover {
    color: #48dbfb !important;
}

.chest {
    width: 50px;
    height: 50px;
    margin: 0 12px;
    position: relative;
}

.heart {
    position: absolute;
    z-index: 2;
    background: linear-gradient(-90deg, #F50A45 0%, #d5093c 40%);
    animation: beat 2.5s ease 0s infinite normal;
}

.heart.centers {
    background: linear-gradient(-45deg, #B80734 0%, #d5093c 40%);
}

.heart.top {
    z-index: 3;
}

.sided {
    top: 10px;
    width: 22px;
    height: 22px;
    border-radius: 11px;
}

.centers {
    width: 21px;
    height: 21px;
    bottom: 10px;
    left: 14.6px;
    transform: rotateZ(225deg);
}

.chest .left {
    left: 6.2px;
}

.chest .right {
    right: 6.2px;
}

@keyframes beat {
    0% {
        transform: scale(1) rotate(225deg);
        box-shadow: 0 0 40px #d5093c;
    }
    50% {
        transform: scale(1.1) rotate(225deg);
        box-shadow: 0 0 70px #d5093c;
    }
    100% {
        transform: scale(1) rotate(225deg);
        box-shadow: 0 0 40px #d5093c;
    }
}









