@media (max-width: 1099px) {
    .mobile-hidden {
        display: none !important;
    }
}

.m-shadow{
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,1) !important;
}

.m-block-display-color {
    background: #1c1c1c !important;
}

.m-signature-background-color {
    background: #171717 !important;
}

.m-font-pattern {
    color: #c9cacc !important;
    font-weight: 100 !important;
}

.m-opacity-mini {
    opacity: 0.8 !important;
}

.m-font-spaced {
    letter-spacing: 1px !important;
    line-height: 26px !important;
}

.m-font-style{
    font-family: Menlo,"Meslo LG",monospace;
    text-rendering: geometricPrecision;
}

.m-border-none {
    border: none !important;
}

.m-padding-top-bottom-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-article-title {
    letter-spacing: 1px !important;
    font-weight: 100 !important;
    line-height: 1.8 !important;
}

.chest {
    width:50px;
    height:50px;
    margin:0 12px;
    position:relative;
}
.heart {
    position:absolute;
    z-index:2;
    background:linear-gradient(-90deg,#F50A45 0%,#d5093c 40%);
    animation:beat 2.5s ease 0s infinite normal;
}
.heart.centers {
    background:linear-gradient(-45deg,#B80734 0%,#d5093c 40%);
}
.heart.top {
    z-index:3;
}
.sided {
    top:10px;
    width:22px;
    height:22px;
    border-radius:11px;
}
.centers {
    width:21px;
    height:21px;
    bottom:10px;
    left:14.6px;
    transform:rotateZ(225deg);
}
.left {
    left:6.2px;
}
.right {
    right:6.2px;
}
@keyframes beat {
    0% {
        transform:scale(1) rotate(225deg);
        box-shadow:0 0 40px #d5093c;
    }
    50% {
        transform:scale(1.1) rotate(225deg);
        box-shadow:0 0 70px #d5093c;
    }
    100% {
        transform:scale(1) rotate(225deg);
        box-shadow:0 0 40px #d5093c;
    }
}