/*! wallhaven v1.0.5 2020-09-02 */
@charset "UTF-8";

a, body, button, code, div, footer, form, h1, h2, h5, header, html, i, img, input, label, li, nav, p, pre, span, textarea, time, ul {
    padding-left: 0;
    border-width: 0;
    border-color: currentColor;
    outline: 0 none;
    border-style: solid;
    border-color: inherit;
    font-size: 1em;
    vertical-align: baseline;
    text-decoration: none;
    font-style: normal;
    color: inherit;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden
}

html {
    font-family: 'Source Sans Pro', Arial, sans;
    font-size: 14px;
    color: #ddd
}

footer, header, nav {
    display: block
}

h1, h2, h5 {
    font-family: Montserrat, 'Source Sans Pro', Arial, sans
}

ul li {
    list-style-type: none
}

img {
    display: inline-block;
    box-sizing: content-box
}

.center {
    text-align: center
}

header .latest {
    color: #ad3
}

header .top-list {
    color: #b760f0
}

header .upload {
    color: #d55
}

header .forums {
    color: #fb3
}

header .search {
    color: #49f
}

header .hot {
    color: #f43
}

.text {
    text-align: left
}

input[type=text], input[type=search] {
    text-overflow: clip
}

button, input[type=text], input[type=search] {
    height: 2.3em
}

button::-moz-focus-inner, input[type=text]::-moz-focus-inner, input[type=search]::-moz-focus-inner {
    padding: 0;
    border-width: 0
}

textarea {
    resize: vertical
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: .66
}

:-moz-placeholder {
    color: inherit;
    opacity: .66
}

::-moz-placeholder {
    color: inherit;
    opacity: .66
}

:-ms-input-placeholder {
    color: inherit;
    opacity: .66
}

input[type=search] {
    -webkit-appearance: none
}

input[type=text], input[type=search], textarea {
    padding: .5em;
    background-color: #313131;
    border-radius: 2px;
    box-shadow: inset 0 0 .75em rgba(255, 255, 255, .03), 0 2px 0 #222, 0 3px 4px -3px #000, 0 1px 2px rgba(0, 0, 0, .2)
}

input[type=text]:focus {
    background-color: #636e72
}
textarea:focus {
    background-color: #636e72
}

/*input[type=checkbox]:checked + label, input[type=radio]:checked + label {*/
/*    color: #fff;*/
/*    background-color: #5e5e5e;*/
/*    background-image: linear-gradient(to bottom, #777 0, #444 100%)*/
/*}*/

input[type=checkbox]:not(:checked) + label .fa-check-square::before {
    content: "\f0c8"
}

.autocomplete-dropdown:hover a:not(:hover) {
    background-color: transparent
}

body, html {
    height: 100%;
    width: 100%;
    min-width: 800px;
    background: #171717 url(/images/bg-dark-grain.png) top left repeat
}

body {
    text-align: center
}

#header {
    z-index: 200
}

#main {
    z-index: 100
}

#header {
    position: fixed;
    top: 0;
    height: 50px;
    width: 100%;
    min-width: 640px
}

@media (max-width: 639px) {
    #header {
        position: absolute;
        min-width: 800px
    }
}

#header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.1em;
    white-space: nowrap;
    background-color: #212427;
    background-image: linear-gradient(to bottom, #292c2f 0, #191c1f 100%);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .75);
    box-shadow: inset 0 0 0 1px rgba(31, 31, 31, .66), 0 0 10px rgba(0, 0, 0, .75), 0 0 10px rgba(0, 0, 0, .75)
}

#logo {
    line-height: 50px;
    padding: 0 1em 0 .5em;
    margin-left: 50px;
    margin-right: 40px
}

#header-search {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-left: 1em;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

#header-search button {
    box-sizing: content-box;
    width: 2em;
    height: 2em;
    cursor: pointer;
    color: #aaa;
    background-color: #222;
    background-image: linear-gradient(to bottom, #242424 0, #1f1f1f 100%);
    border-width: 1px 1px 1px 0;
    border-color: #000 #252525 #262626 #000;
    border-radius: 0 3px 3px 0
}

.header-search-input-frame {
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 30em;
    display: -ms-flexbox;
    display: flex;
    border-width: 1px 0 1px 1px;
    border-color: #000 #252525 #262626 #000;
    border-radius: 3px 0 0 3px;
    background-color: #1b1b1b;
    background-image: linear-gradient(to bottom, #191919 0, #1c1c1c 100%);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .3)
}

.header-search-input-frame > input {
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 2em;
    line-height: 2em;
    padding: 0 .5em;
    background: 0 0;
    box-shadow: none
}

.top-menu {
    position: relative;
    line-height: 50px;
    display: inline-block;
    vertical-align: top;
    text-align: center
}

.top-menu a {
    position: relative;
    padding: 0 12px
}

.top-menu .top-menu-toggle, .top-menu a, .top-menu li, .top-menu ul {
    display: inline-block;
    line-height: inherit
}

.top-menu .top-menu-toggle {
    float: right;
    line-height: 50px
}

.top-menu .top-menu-primary {
    line-height: 50px
}

@media (min-width: 1100px) {
    .top-menu-primary span {
        margin: 0 .5em
    }

    .top-menu-toggle .far {
        display: none
    }

    .top-menu-full {
        display: inline-block
    }
}

@media (max-width: 1400px) {
    .top-menu-primary span {
        display: none
    }
}

@media (max-width: 1099px) {
    .top-menu-toggle {
        width: 50px
    }

    .top-menu-toggle > .far::before {
        font-size: 24px;
        vertical-align: middle;
        line-height: 50px
    }

    .top-menu-full {
        position: absolute;
        top: 50px;
        line-height: 1.3em;
        opacity: 0;
        visibility: hidden;
        background-color: #222;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
        transform-origin: 5% top;
        left: 0
    }

    .extended .top-menu-full {
        animation: .2s forwards appear
    }

    .top-menu-full::before {
        content: "";
        position: absolute;
        top: -20px;
        border: 10px solid transparent;
        border-bottom-color: #2c2c2c
    }

    .top-menu-full::before {
        left: 15px
    }

    .top-menu .top-menu-primary {
        display: block;
        line-height: 1.3em;
        padding: .5em;
        border-top: 1px solid #333;
        border-bottom: 1px solid #111;
        font-variant: normal;
        width: 20.5em;
        text-align: left;
        white-space: normal
    }

    .top-menu .top-menu-primary li {
        display: inline-block;
        text-align: center;
        width: 6.5em;
        padding: .25em
    }

    .top-menu .top-menu-primary a {
        padding: .75em .25em;
        display: block
    }

    .top-menu .top-menu-primary span {
        display: block;
        margin: .25em 0 0 0
    }

    .top-menu .top-menu-primary a:active, .top-menu .top-menu-primary a:focus, .top-menu .top-menu-primary a:hover {
        background-color: #333;
        border-radius: 2px
    }
}
.hot.active{
    background-color: rgba(255, 68, 51, .1)
}
.top-menu a.latest:active, .top-menu a.latest:focus, .top-menu a.latest:hover {
    background-color: rgba(170, 221, 51, .1)
}

.top-menu a.hot:active, .top-menu a.hot:focus, .top-menu a.hot:hover {
    background-color: rgba(255, 68, 51, .1)
}

.top-menu a.top-list:active, .top-menu a.top-list:focus, .top-menu a.top-list:hover {
    background-color: rgba(183, 96, 240, .1)
}

.top-menu a.upload:active, .top-menu a.upload:focus, .top-menu a.upload:hover {
    background-color: rgba(221, 85, 85, .1)
}

.top-menu a.forums:active, .top-menu a.forums:focus, .top-menu a.forums:hover {
    background-color: rgba(255, 187, 51, .1)
}

.top-menu a.top-menu-toggle {
    color: #49f
}

.top-menu a.top-menu-toggle:active, .top-menu a.top-menu-toggle:focus, .top-menu a.top-menu-toggle:hover {
    background-color: rgba(68, 153, 255, .1)
}

.top-menu .top-menu-toggle {
    border-right: 1px solid rgba(0, 0, 0, .5);
    border-left: 1px solid rgba(255, 255, 255, .05)
}

@media (min-width: 1100px) {
    .top-menu .top-menu-primary li {
        border-right: 1px solid rgba(0, 0, 0, .5);
        border-left: 1px solid rgba(255, 255, 255, .05)
    }
}

.tag {
    position: relative;
    display: inline-block;
    margin: 0 4px 4px 0;
    text-align: center;
    background-color: #293033;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .7);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    border-radius: 8px 0
}

.tag.tag-sfw {
    color: #94db94
}

.tag.tag-sfw > .tag-name:hover {
    color: #9f9;
    background-color: #3d5c3d
}

.tag.tag-nsfw {
    color: #db9494
}

.tag.tag-nsfw > .tag-name:hover {
    color: #f99;
    background-color: #5c3d3d
}

.tag > a {
    border-radius: 8px 0;
    display: inline-block;
    padding: 0 .5em;
    line-height: 2em;
    transition: .25s color, .25s background
}

.tag-name {
    word-wrap: break-word
}

@keyframes appear {
    from {
        opacity: 0;
        visibility: hidden;
        transform: scale(.97)
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: scale(1)
    }
}