<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
</head>
<body>
<div th:replace="_fragments :: menu(2)"></div>
<div th:replace="_fragments :: snow"></div>
<!--中间部分-->
<div id="main">
    <div class="ui grid" style="margin:auto">
        <div class="ui four wide column mobile-hidden animate__animated animate__fadeIn" style="margin-top: 50px">
            <div class="ui segment m-shadow m-block-display-color">
                <img class="ui small circular image" src="" th:src="${user.avatar}" style="margin: auto">
                <div class="ui divider"></div>
                <div>
                    <h1 class="ui m-font-pattern header m-opacity-mini"
                        th:text="${user.nickname}"></h1>
                    <div>
                        <div style="margin-top: 15px">
                    <span class="m-font-pattern m-opacity-mini m-font-spaced">
                       <i class="iconfont icon-location" style="margin-right: 5px"></i>
                       <span style="font-weight: normal;font-size: 15px" th:text="${user.geographic.province}"></span>
                       <span style="font-weight: normal;font-size: 15px" th:text="${user.geographic.city}"></span>
                    </span>
                        </div>
                        <div class="" style="margin-top: 5px">
                            <h5 class="m-font-pattern m-opacity-mini m-font-spaced">
                                <div style="display: flex;align-items: center;justify-content: center">
                                    <i class="iconfont icon-eye" style="margin-right: 5px"></i>
                                    <span class="m-font-style" style="font-size: 14px" th:text="${user.views}"></span>
                                </div>
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="ui fluid vertical menu m-signature-background-color" style="text-align: left;">
            <span class="item m-font-pattern m-opacity-mini m-font-style">Archives:<span
                    th:text="${articlePage.total}">29</span></span>
                    <span class="item m-font-pattern m-opacity-mini m-font-style">QQ:<span
                            th:text="${user.qq}">29</span></span>
                    <span class="item m-font-pattern m-opacity-mini m-font-style">wechat:<span
                            th:text="${user.wechat}">29</span></span>
                    <span class="item m-font-pattern m-opacity-mini m-font-style">email:<span
                            th:text="${user.email}">29</span></span>
                </div>
            </div>
            <div class="ui segment m-shadow m-block-display-color animate__animated animate__fadeIn">
                <div style="display: flex;justify-content:center;">
                    <img id="nothing" src="https://yi-blog.oss-cn-hangzhou.aliyuncs.com/2021-07-10/1111.png"
                         th:attr="data-content='没错，我没有女盆友'"
                         style="width:50px;height:50px;vertical-align:-20px;border-radius:50%;margin-right:5px;margin-bottom:5px;-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.1);box-shadow: 1px 1px 1px rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.1);border: 2px solid #fff;"/>
                    <div class="chest">
                        <div class="heart left sided top"></div>
                        <div class="heart centers"></div>
                        <div class="heart right sided"></div>
                    </div>
                    <img src="https://yi-blog.oss-cn-hangzhou.aliyuncs.com/2021-07-11/6a879a71-ca69-4ef3-a5f7-e8c6f67dd0b7Screenshot_20210424_204530.jpg"
                         style="width:50px;height:50px;vertical-align:-20px;border-radius:50%;margin-bottom:5px;-webkit-box-shadow:1px 1px 1px rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.1);box-shadow: 1px 1px 1px rgba(0,0,0,.1), 1px 1px 1px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.1);border: 2px solid #fff;"/><br/>
                </div>
                <div style="margin-top: 10px"><span id="love_time"></span></div>
            </div>
            <div class="pulsing"></div>
            <div class="card">
                <div class="card-header">
                    <!--                    <div class="img-container">-->
                    <!--                        <img src="https://yi-blog.oss-cn-hangzhou.aliyuncs.com/music/%E4%BD%A0%E4%BC%9A%E6%88%90%E4%B8%BA%E4%BD%A0%E6%83%B3%E6%88%90%E4%B8%BA%E7%9A%84%E9%82%A3%E4%B8%AA%E4%BA%BA%20-%20%E6%A2%81%E5%8D%9A/dcd7807c7614ca099997e06b745023f.png"-->
                    <!--                             alt="singer image" id="songImg">-->
                    <!--                    </div>-->
                    <div class="song-detail-container">
                        <span class="title m-font-pattern m-font-style" id="title">你会成为你想的那个人 - 梁博</span>
                    </div>
                </div>

                <div class="progress-container" id="progressContainer">
                    <span class="progress" id="progress"></span>
                </div>

                <audio src="https://yi-blog.oss-cn-hangzhou.aliyuncs.com/music/%E4%BD%A0%E4%BC%9A%E6%88%90%E4%B8%BA%E4%BD%A0%E6%83%B3%E6%88%90%E4%B8%BA%E7%9A%84%E9%82%A3%E4%B8%AA%E4%BA%BA%20-%20%E6%A2%81%E5%8D%9A/%E6%A2%81%E5%8D%9A-%E4%BD%A0%E4%BC%9A%E6%88%90%E4%B8%BA%E4%BD%A0%E6%83%B3%E7%9A%84%E9%82%A3%E4%B8%AA%E4%BA%BA%28Live%29.mp3" id="player"></audio>
                <div class="controls">
                    <button class="control" id="prevBtn">
                        <i class="fas fa-backward"></i>
                    </button>
                    <button class="control play" id="playBtn">
                        <i class="fas fa-play" style="margin-left: 8px"></i>
                        <i class="fas fa-pause" style="margin-left: 7px"></i>
                    </button>
                    <button class="control" id="nextBtn">
                        <i class="fas fa-forward"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="ui eight wide column animate__animated animate__fadeIn" style="margin-top: 50px;">
            <div class="ui segment m-shadow m-block-display-color">
                <img  th:src="${user.banner}" style="width: 100%;height: 100%">
                <div class="ui top attached segment m-border-none" style="background: transparent">
                    <div class="ui middle aligned two column grid">
                        <div class="left aligned column">
                            <h2 class="ui header"><span class="m-font-style m-special-font-style">Archives</span></h2>
                        </div>
                    </div>
                </div>
                <div id="default-article" class="ui attached segment m-padding-top-bottom-large list-content m-border-none animate__animated animate__fadeIn"
                     style="background: inherit">
                    <ul class="post-list">
                        <li class="post-item" th:each="article : ${articlePage.records}">
                            <div style="display: flex;align-items: center">
                                <div class="meta m-font-style">
                                    <time th:text="${#dates.format(article.updateTime,'yyyy-MM-dd')}"
                                          itemprop="datePublished"></time>
                                </div>
                                <div>
                                    <span class="meta m-article-title">
                                        <a href="#" th:text="${article.title}" th:href="@{/article/{id}(id=${article.id})}">Javascript 连等赋值</a>
                                    </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ui four wide column mobile-hidden animate__animated animate__fadeIn" style="margin-top: 50px">
            <div class="ui segment m-shadow m-block-display-color">
                <div class="ui m-font-pattern segment m-signature-background-color">
                    <div th:text="${user.userSignature}"
                         style="word-wrap:break-word;text-align: left;white-space: pre-line;line-height: 26px">
                    </div>
                </div>
            </div>
            <div class="ui segment center aligned m-block-display-color m-shadow animate__animated animate__fadeIn">
                <!--                        <div class="weather sunny"></div>-->
                <!--                        <div clas   s="weather cloudy"></div>-->
                <div class="weather rainy"></div>
            </div>
            <div class="ui segment left aligned m-shadow m-block-display-color animate__animated animate__fadeIn">
                <div style="padding: 5px 15px">
                    <div style="display: flex;align-items: flex-start;justify-content: flex-start">
                        <i class="m-special-font-style m-big-iconfont icon-file-copy"></i>
                        <span class="m-special-font-style" style="font-weight: normal;font-size: 20px;margin-left: 5px">文章分类</span>
                    </div>
                    <ul id="categories">
                        <li class="tag tag-nsfw" th:each="category : ${categoryList}">
                            <a class="tag-name" th:id = "category+${category.id}" style="cursor: pointer" th:onclick="selectByCategoryId([[${category.id}]]);" th:text="${category.name}+' ('+${category.articleCounts}+')'"></a>
                            <!--                            <a class="tag-name" th:href="@{/main/articleList/category/{categoryId}(categoryId=${category.id})}" th:if="${category.hit == false}" th:text="${category.name}+' ('+${category.articleCounts}+')'"></a>-->
                            <!--                            <a class="tag-name" th:href="@{/main/articleList/category/{categoryId}(categoryId=${category.id})}" th:if="${category.hit == true}" th:text="${category.name}+' ('+${category.articleCounts}+')'" style="background-color: #5c3d3d"></a>-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ui segment left aligned m-shadow m-block-display-color animate__animated animate__fadeIn">
                <div style="padding: 5px 15px">
                    <div style="display: flex;align-items: flex-start;justify-content: flex-start">
                        <i class="m-special-font-style m-big-iconfont icon-tags"></i>
                        <span class="m-special-font-style" style="font-weight: normal;font-size: 20px;margin-left: 5px">文章标签</span>
                    </div>
                    <ul id="tags">
                        <li class="tag tag-sfw" th:each="tag : ${tagList}">
                            <a class="tag-name" th:id = "tag+${tag.id}" style="cursor: pointer" th:onclick="selectByTagId([[${tag.id}]]);" th:text="${tag.name}+' ('+${tag.articleCounts}+')'"></a>
                            <!--                            <a class="tag-name" th:href="@{/main/articleList/tag/{tagId}(tagId=${tag.id})}" th:if="${tag.hit == false}" th:text="${tag.name}+' ('+${tag.articleCounts}+')'"></a>-->
                            <!--                            <a class="tag-name" th:href="@{/main/articleList/tag/{tagId}(tagId=${tag.id})}" th:if="${tag.hit == true}" th:text="${tag.name}+' ('+${tag.articleCounts}+')'" style="background-color: #3d5c3d"></a>-->
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ui segment left aligned m-block-display-color m-shadow animate__animated animate__fadeIn">
                <div style="padding: 5px 15px">
                    <div style="display: flex;align-items: flex-start;justify-content: flex-start">
                        <i class="m-special-font-style m-big-iconfont icon-reddit"></i>
                        <span class="m-special-font-style" style="font-size: 20px;margin-left: 5px">技术支持</span>
                    </div>
                    <ul class="contributors-list"
                        style="display: flex">
                        <div th:each="technicalSupport : ${technicalSupportList}">
                            <a th:href="${technicalSupport.technicalSupportWebsite}?:'#'" target="_blank" >
                                <img class="technical-support-avatar" th:attr="data-content='技术支持者:'+${technicalSupport.nickname}" th:src="${technicalSupport.avatar}">
                            </a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="_fragments :: footer">
</footer>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<th:block th:replace="_fragments :: script">

</th:block>
<script>
    // 线上环境
    const getViews = "http://www.yizone.link/api/user/getViews";
    const articleList = "http://www.yizone.link/api/article/articleList";
    const articleSearch = "http://www.yizone.link/api/article/articleSearch";
    const articleTag = "http://www.yizone.link/api/article/tag";
    const articleCategory = "http://www.yizone.link/api/article/category";
    const article = "http://www.yizone.link/article";
    const articleIndex = "http://www.yizone.link/api/article/indexArticle";

    // 测试环境
    // const getViews = "http://localhost:8065/api/user/getViews";
    // const articleList = "http://localhost:8065/api/article/articleList";
    // const articleSearch = "http://localhost:8065/api/article/articleSearch";
    // const articleTag = "http://localhost:8065/api/article/tag";
    // const articleCategory = "http://localhost:8065/api/article/category";
    // const article = "http://localhost:8065/article";
    // const articleIndex = "http://localhost:8065/api/article/indexArticle";


    $('.technical-support-avatar')
        .popup()
    ;
    $('#nothing')
        .popup()
    ;
    $('#menu-toggle').click(function () {
        $('.top-menu-full').toggleClass('mobile-hidden');
    })
    function setTime() {
        var createTime = Math.round(new Date(Date.UTC(2021, 01, 08, 9, 21, 0)).getTime() / 1000
    )
        ;
        var timestamp = Math.round((new Date().getTime() + 8 * 60 * 60 * 1000) / 1000);
        currentTime = secondToDate((timestamp - createTime));
        currentTimeHtml = currentTime[0] + ' 年 ' + currentTime[1] + ' 天 '
            + currentTime[2] + ' 时 ' + currentTime[3] + ' 分 ' + currentTime[4]
            + ' 秒 ';
        document.getElementById("love_time").innerHTML = currentTimeHtml;
    }
    setInterval(setTime, 1000);

    $('#place').click(function (){
        $.ajax({
            url:articleList,
            type:"GET",
            dataType : "json",
            success:function (data) {
                sortArticle(data);
            },
        })
    });

    var tagIdCache = ""

    function selectByTagId(id){
        removeClass();
        let tagId = '#tag'+id;
        $(tagId).addClass('tagHit');
        tagIdCache = tagId;
        $.ajax({
            url:articleTag + '/' + id,
            type:"GET",
            dataType : "json",
            success:function (data) {
                sortArticle(data);
            },
        })
    }

    var categoryIdCache = ""

    function removeClass(){
        if(tagIdCache !== ""){
            $(tagIdCache).removeClass('tagHit');
        }
        if(categoryIdCache !== ""){
            $(categoryIdCache).removeClass('categoryHit');
        }
    }

    function selectByCategoryId(id){
        removeClass();
        let categoryId = '#category'+id;
        $(categoryId).addClass('categoryHit');
        categoryIdCache = categoryId;
        $.ajax({
            url:articleCategory + '/' + id,
            type:"GET",
            dataType : "json",
            success:function (data) {
                sortArticle(data);
            },
        })
    }

    function search(){
        let searchCondition = $('#header-search-text').val();
        if(searchCondition.trim() === ""){
            return
        }
        $.ajax({
            url:articleSearch,
            type:"GET",
            data:{queryCondition:searchCondition},
            dataType : "json",
            success:function (data) {
                sortArticle(data);
            },
        })
    }

    function sortArticle(data){
        let articleData = data.obj;
        $('#default-article').empty();
        let startHtml = '<div class="animate__animated animate__fadeIn">'
        let endHtml = '</div>'
        let html='';
        html += startHtml;
        let keyList = [];
        for (let key in articleData) {
            keyList.push(key)
        }
        keyList.sort(function(key1, key2) {
            return key2 - key1
        })
        let resultMap = new Map()
        for(var i=0;i<keyList.length;i++){
            resultMap.set(keyList[i], articleData[keyList[i]])
        }
        for([key,value] of resultMap){
            html += '                           <h2 class="ui left aligned">\n' +
                '                                <div style="display: flex">\n' +
                '                                    <span class="m-font-style m-special-font-style">'+key+'</span>\n' +
                '                                </div>\n' +
                '                            </h2>'
            html += '<div class="list-content"><ul class="post-list">';
            $.each(value,function (articleIndex,article){
                let createTime = article.createTime.substring(0,10);
                let articleId = article.id;
                html += '                                        <li class="post-item">\n' +
                    '                                        <div style="display: flex;align-items: center">\n' +
                    '                                            <div class="meta m-font-style">\n' +
                    '                                                <time>'+createTime+'\n' +
                    '                                                </time>\n' +
                    '                                            </div>\n' +
                    '                                            <div>\n' +
                    '                                            <span class="meta m-article-title">\n' +
                    '                                                <a style="cursor: pointer" onClick = "forwardToArticle('+articleId+')">'+article.title+'</a>\n' +
                    '                                            </span>\n' +
                    '                                            </div>\n' +
                    '                                        </div>\n' +
                    '                                    </li>'
            })
        }
        html += '</ul></div>';
        html += endHtml
        $('#default-article').html(html);
        $('#place').addClass("active");
        $('#latest').removeClass("active");
    }

    function forwardToArticle(articleId){
        window.location.href = article + '/' + articleId;
    }

    $('#latest').click(function (){
        $.ajax({
            url:articleIndex,
            type:"GET",
            dataType : "json",
            success:function (data) {
                let articleList = data.obj.records;
                $('#default-article').empty();
                let startHtml = '<div class="animate__animated animate__fadeIn"><ul class="post-list">'
                let endHtml = '</ul></div>'
                let html='';
                html += startHtml;
                $.each(articleList,function (articleIndex,article){
                    let createTime = article.createTime.substring(0,10);
                    let articleId = article.id;
                    html += '<li class="post-item">\n' +
                        '                            <div style="display: flex;align-items: center">\n' +
                        '                                <div class="meta m-font-style">\n' +
                        '                                    <time>'+createTime+'</time>\n' +
                        '                                </div>\n' +
                        '                                <div>\n' +
                        '                                    <span class="meta m-article-title">\n' +
                        '                                        <a style="cursor: pointer" onClick = "forwardToArticle('+articleId+')">'+article.title+'</a>\n' +
                        '                                    </span>\n' +
                        '                                </div>\n' +
                        '                            </div>\n' +
                        '                        </li>'
                })

                html += endHtml
                $('#default-article').html(html);
                $('#latest').addClass("active");
                $('#place').removeClass("active");
            },
        })
    });
</script>