<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>lyric--一个努力学习的开发人</title>
    <link rel="stylesheet" th:href="@{/css/semantic.min.css}">
    <link rel="stylesheet" th:href="@{/css/enhancement.css}">
    <link rel="stylesheet" th:href="@{/css/ulola.css}">
    <link rel="stylesheet" th:href="@{/css/mytest.css}">
</head>
<body>

    <header id="header"><a id="logo" style="margin-left: 50px"><img th:src="@{/images/yizone.png}"></a>
        <div class="topmenu">
            <nav class="topmenu-full">
                <ul class="topmenu-primary">
                    <li>
                        <a class="latest" href=""><span>Home</span></a>
                    </li>
                    <li>
                        <a class="hot" href=""><span>Place</span></a>
                    </li>
                    <li>
                        <a class="toplist" href=""><span>Author</span></a>
                    </li>
                    <li>
                        <a class="forums" href=""><span>Link</span></a>
                    </li>
                    <li>
                        <a class="upload" href="https://github.com/famiglistimo-lyric"><span>Github</span></a>
                    </li>
                </ul>
            </nav>
        </div>
        <form th:action="@{/search}" method="post" id="header-search" class="header-search-type-text">
            <div class="header-search-input-frame">
                <label for="header-search-text"></label>
                <input type="search" name="q" id="header-search-text" value="" placeholder="Search...">
            </div>
            <button><i class="far search icon" style="color: #a4b0be"></i></button>
        </form>
    </header>
</body>
</html>