<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/mytest.css">
</head>
<body>
<header id="header"><a id="logo" href="https://wallhaven.cc"><img src="../static/images/yizone.png"
                                                                  alt="wallhaven"></a>
    <div class="topmenu">
        <nav class="topmenu-full">
            <ul class="topmenu-primary">
                <li>
                    <a class="latest" href="https://wallhaven.cc/latest"><i class="far fa-clock"></i><span>Home</span></a>
                </li>
                <li>
                    <a class="hot" href="https://wallhaven.cc/hot"><i class="far fa-fire"></i><span>Place</span></a>
                </li>
                <li>
                    <a class="toplist" href="https://wallhaven.cc/toplist"><i class="far fa-gem"></i><span>Author</span></a>
                </li>
<!--                <li>-->
<!--                    <a class="random" href="https://wallhaven.cc/random"><i class="far fa-random"></i><span>Github</span></a>-->
<!--                </li>-->
                <li>
                    <a class="forums" href="https://wallhaven.cc/forums"><i class="far fa-comments"></i><span>Link</span></a>
                </li>
                <li>
                    <a class="upload" href="https://github.com/famiglistimo-lyric"><i class="far fa-upload"></i><span>Github</span></a>
                </li>
            </ul>
            <a class="topmenu-toggle jsAnchor"><i class="far fa-bars"></i><span>More</span></a>
            <!--            <div class="topmenu-partial">-->
            <!--                <ul class="topmenu-secondary">-->
            <!--                    <li><a href="https://wallhaven.cc/untagged"><i class="far fa-sticky-note"></i><span>Few tags</span></a>-->
            <!--                    </li>-->
            <!--                    <li><a href="https://wallhaven.cc/tags"><i class="far fa-tags"></i><span>Tags</span></a></li>-->
            <!--                    <li><a href="https://wallhaven.cc/rules"><i class="far fa-gavel"></i><span>Rules</span></a></li>-->
            <!--                    <li><a href="https://wallhaven.cc/help"><i class="far fa-question"></i><span>Help</span></a></li>-->
            <!--                    <li><a href="https://wallhaven.cc/about"><i class="far fa-info"></i><span>About</span></a></li>-->
            <!--                    <li><a href="https://wallhaven.cc/faq"><i class="far fa-question"></i><span>FAQ</span></a></li>-->
            <!--                    <li><a href="https://wallhaven.cc/stats"><i class="far fa-chart-bar"></i><span>Stats</span></a></li>-->
            <!--                    <li><a href="https://wallhaven.cc/team"><i class="far fa-users"></i><span>Team</span></a></li>-->
            <!--                </ul>-->
            <!--                <ul class="topmenu-social">-->
            <!--                    <li><a href="https://wallhaven.cc/contact" original-title="Contact"><i-->
            <!--                            class="far fa-envelope"></i><span>Contact</span></a></li>-->
            <!--                    <li><a href="http://twitter.com/wallhaven" target="_blank" original-title="Twitter"><i-->
            <!--                            class="fab fa-twitter" style="color: #38A1F3;"></i><span>Twitter</span></a></li>-->
            <!--                    <li><a href="https://qchat.rizon.net/?channels=#wallhaven" original-title="IRC"><i-->
            <!--                            class="far fa-hashtag"></i><i class="far fa-exclamation"></i><span>IRC</span></a></li>-->
            <!--                    <li><a href="https://discord.me/wallhaven" target="_blank" original-title="Discord"><i-->
            <!--                            class="fab fa-discord" style="color: #7289DA; font-size: 1.2em"></i><span>Discord</span></a>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </div>-->
        </nav>
    </div>
    <form action="https://wallhaven.cc/search" method="get" id="header-search" class="header-search-type-text">
        <div class="header-search-input-frame"><input type="search" name="q" id="header-search-text" value=""
                                                      placeholder="Search..."><input type="file" name="search_image"
                                                                                     id="header-search-file"><a
                class="jsAnchor header-search-type-toggle" original-title="Search for similar images"><i
                class="far fa-camera"></i><i class="far fa-font"></i></a></div>
        <button><i class="far fa-search"></i></button>
    </form>
    <div id="userpanel"><a class="button register" href="https://wallhaven.cc/join"> Register </a><a class="button"
                                                                                                     href="https://wallhaven.cc/login">
        Login </a></div>
</header>
</body>
</html>